<config>
	<cell>
	    <app>
	        <param name="source">PLC1</param>
	        <param name="destination">Actuator1</param>
	        <param name="packetLength">256B</param>
	        <param name="productionInterval">10ms</param>
	        <param name="pcp">6</param>
	        <param name="vlan">30</param>
	        <param name="destPort">2000</param>
	        <param name="displayName">ProcessControl</param>
	        <param name="deadline">15ms</param>
	    </app>
	    <app>
	        <param name="source">PLC2</param>
	        <param name="destination">FanController</param>
	        <param name="packetLength">64B</param>
	        <param name="productionInterval">1ms</param>
	        <param name="pcp">4</param>
	        <param name="vlan">54</param>
	        <param name="destPort">2022</param>
	        <param name="displayName">FanControlTemp</param>
	        <param name="latency">300ms</param>
	    </app>
        <app>
	        <param name="source">PLC3</param>
	        <param name="destination">FanController2</param>
	        <param name="packetLength">256B</param>
	        <param name="productionInterval">300ms</param>
	        <param name="pcp">5</param>
	        <param name="vlan">59</param>
	        <param name="destPort">2026</param>
	        <param name="displayName">FanControlGas</param>
	        <param name="deadline">300ms</param>
	    </app>
        <app>
		    <param name="source">SafetyController</param>
		    <param name="destination">RobotSafetyModule</param>
		    <param name="packetLength">64B</param>
		    <param name="productionInterval">5ms</param>
		    <param name="pcp">6</param>
		    <param name="vlan">30</param>
		    <param name="destPort">2004</param>
		    <param name="displayName">SafetyFeedback</param>
		    <param name="deadline">10ms</param>
		</app>
		<app>
		    <param name="source">AGVControlCenter</param>
		    <param name="destination">AGVRobot</param>
		    <param name="packetLength">128B</param>
		    <param name="productionInterval">200ms</param>
		    <param name="pcp">4</param>
		    <param name="vlan">30</param>
		    <param name="destPort">3007</param>
		    <param name="displayName">AGVCommand</param>
		    <param name="latency">200ms</param>
		</app>
	</cell>
	<cell>
	    <app>
	        <param name="source">SensorPosition1</param>
	        <param name="destination">PLC1</param>
	        <param name="packetLength">128B</param>
	        <param name="productionInterval">100ms</param>
	        <param name="pcp">6</param>
	        <param name="vlan">30</param>
	        <param name="destPort">2001</param>
	        <param name="displayName">PositionMonitoring</param>
	        <param name="deadline">120ms</param>
	    </app>
	    <app>
		    <param name="source">Actuator1</param>
		    <param name="destination">PLC1</param>
		    <param name="packetLength">128B</param>
		    <param name="productionInterval">10ms</param>
		    <param name="pcp">5</param>
		    <param name="vlan">30</param>
		    <param name="destPort">2002</param>
		    <param name="displayName">ActuatorFeedback</param>
		    <param name="deadline">15ms</param>
		</app>
		<app>
	        <param name="source">VibrationSensor</param>
	        <param name="destination">PredictiveMaintenance</param>
	        <param name="packetLength">32B</param>
	        <param name="productionInterval">10ms</param>
	        <param name="pcp">4</param>
	        <param name="vlan">30</param>
	        <param name="destPort">2004</param>
	        <param name="displayName">VibrationTelemetry</param>
	        <param name="latency">50ms</param>
		</app>
	    <app>
	        <param name="source">Camera1</param>
	        <param name="destination">QualitySystem</param>
	        <param name="packetLength">1400B</param>
	        <param name="productionInterval">50ms</param>
	        <param name="pcp">5</param>
	        <param name="vlan">30</param>
	        <param name="destPort">2002</param>
	        <param name="displayName">QualitySupervision</param>
	        <param name="deadline">100ms</param>
	    </app>
        <app>
	        <param name="source">QualitySystem</param>
	        <param name="destination">PLC1</param>
	        <param name="packetLength">256B</param>
	        <param name="productionInterval">500ms</param>
	        <param name="pcp">5</param>
	        <param name="vlan">30</param>
	        <param name="destPort">2005</param>
	        <param name="displayName">QualityControl</param>
	        <param name="deadline">600ms</param>
	    </app>
    </cell>
	<cell>
	    <app>
	        <param name="source">RobotSafetyModule</param>
	        <param name="destination">SafetyController</param>
	        <param name="packetLength">64B</param>
	        <param name="productionInterval">5ms</param>
	        <param name="pcp">6</param>
	        <param name="vlan">30</param>
	        <param name="destPort">2003</param>
	        <param name="displayName">SafetyControl</param>
	        <param name="deadline">10ms</param>
	    </app>
    </cell>
	<cell>
	    <app>
	        <param name="source">AGVRobot</param>
	        <param name="destination">AGVControlCenter</param>
	        <param name="packetLength">256B</param>
	        <param name="productionInterval">200ms</param>
	        <param name="pcp">4</param>
	        <param name="vlan">30</param>
	        <param name="destPort">2006</param>
	        <param name="displayName">AGVLogistics</param>
	        <param name="latency">200ms</param>
	    </app>
	    <app>
	        <param name="source">GasSensor1</param>
	        <param name="destination">PLC3</param>
	        <param name="packetLength">256B</param>
	        <param name="productionInterval">300ms</param>
	        <param name="pcp">4</param>
	        <param name="vlan">59</param>
	        <param name="destPort">2026</param>
	        <param name="displayName">GasMonitoring3</param>
	        <param name="latency">400ms</param>
	    </app>
	    <app>
	        <param name="source">FanController2</param>
	        <param name="destination">PLC3</param>
	        <param name="packetLength">64B</param>
	        <param name="productionInterval">1ms</param>
	        <param name="pcp">2</param>
	        <param name="vlan">54</param>
	        <param name="destPort">2022</param>
	        <param name="displayName">Fan2FeedBack</param>
	        <param name="latency">500ms</param>
	    </app>
    </cell>

	<cell>
	    <app>
	        <param name="source">TemperatureSensor1</param>
	        <param name="destination">PLC2</param>
	        <param name="packetLength">256B</param>
	        <param name="productionInterval">300ms</param>
	        <param name="pcp">4</param>
	        <param name="vlan">53</param>
	        <param name="destPort">2020</param>
	        <param name="displayName">TempMonitoring2</param>
	        <param name="latency">500ms</param>
	    </app>
	    <app>
	        <param name="source">HumiditySensor1</param>
	        <param name="destination">PLC2</param>
	        <param name="packetLength">128B</param>
	        <param name="productionInterval">500ms</param>
	        <param name="pcp">4</param>
	        <param name="vlan">54</param>
	        <param name="destPort">2021</param>
	        <param name="displayName">HumidityControl2</param>
	        <param name="latency">1000ms</param>
	    </app>
	    <app>
	        <param name="source">FanController</param>
	        <param name="destination">PLC2</param>
	        <param name="packetLength">64B</param>
	        <param name="productionInterval">1ms</param>
	        <param name="pcp">2</param>
	        <param name="vlan">54</param>
	        <param name="destPort">2022</param>
	        <param name="displayName">FanFeedBack</param>
	        <param name="latency">500ms</param>
	    </app>
        <app>
	        <param name="source">VibrationSensor2</param>
	        <param name="destination">PredictiveMaintenance</param>
	        <param name="packetLength">32B</param>
	        <param name="productionInterval">10ms</param>
	        <param name="pcp">4</param>
	        <param name="vlan">58</param>
	        <param name="destPort">2025</param>
	        <param name="displayName">VibrationTelemetry2</param>
	        <param name="latency">50ms</param>
	    </app>
	</cell>    

</config>

    
    
